beautifulsoup4==4.13.4
black==25.1.0  # Code formatter
lxml==5.4.0
mypy==1.16.0  # Type checker
setuptools==80.9.0  # Only required for publish it as a package
types-beautifulsoup4==4.12.0.20250516  # Stubs for beautifulsoup4
wheel==0.45.1  # Only required for publish it as a package
